==
<div class="solBox pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="title text-center"><small class="d-block">ESTAMOS LISTOS</small><strong>PARA TRABAJAR CONTIGO</strong></h2>
			</div>
		</div>
		<div class="row d-flex align-items-center justify-content-center">
			<a href="{{ "contactos"|page }}" class="btn btn-pill btn-warning">Agendemos una reunión</a>
			<p class="m-2 col-sm-auto text-center"><strong>ó</strong></p>
			<a href="{{ "cotizar"|page }}" class="btn btn-pill btn-light text-warning">Solicita una cotización</a>
		</div>
	</div>
</div>